@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #77A59E;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #2A6B5C;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #2A506B;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #7E603B;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.ecscont {
	background: #7E603B;
	margin: 0px;
	float: left;
	width: 100%;
	height: 500px;
	text-align: center;
}
.footer {
	background: #4D686B;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
